<h1 class="text-center">ADIT</h1>

<nav class="nav d-flex justify-content-center">
  <li class="nav-item">
    <a routerLink="home" class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a routerLink="about"  class="nav-link active" href="#">About</a>
  </li>
  <li class="nav-item">
    <a routerLink="contact"  class="nav-link active" href="#">Contact</a>
  </li>
  <li class="nav-item">
    <a routerLink="post"  class="nav-link active" href="#">Post</a>
  </li>
  <li class="nav-item">
    <a routerLink="reg"  class="nav-link" href="#" tabindex="-1" >Registration</a>
  </li>
</nav>

<router-outlet></router-outlet>